.authorization-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authorization-modal {
  width: 25em;
  padding: 1em;
  border: solid 1px black;
  border-radius: 0.4em;
}
.authorization, .registration {
  display: none;
}
.authorization_active, .registration_active {
  display: block;
}
.authorization__input {
  width: 100%;
  margin-bottom: 1em;
}
.authorization__button {
  width: 100%;
  margin-bottom: 0.5em !important;
}
.authorization__link {
  display: block;
  text-align: center;
}